<div class="card">
  <div class="card-header">
    <h1 class="modal-title">Finance</h1>
  </div>
  <div class="card-body row d-flex">
    <div class="col-8">
      <label class="form-label me-2">
        Description:
        <input type="text" class="form-control" [formField]="financeFilterForm.description">
      </label>
      <label class="form-labelflex-column">
        Person:
        <select class="form-select" [formField]="financeFilterForm.personId">
          @for (person of personStore.persons(); track person.id) {
            <option [value]="person.id">{{ person.name }}</option>
          }
        </select>
      </label>
    </div>
    <div class="col-4 align-self-end mb-2">
      <button type="button" class="btn btn-outline-secondary me-2" (click)="clear()">Clear
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="filter()">Filter
      </button>
    </div>
  </div>
  <hr>
  <div class="card-body table-responsive">
    @if (financeStore.finances().length > 0) {
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Description</th>
          <th>By</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @for (entry of financeStore.finances(); track entry.id) {
            <tr>
              <td>
                <p [ngbTooltip]="entry.dateTime | fsDate">
                  {{ entry.dateTime | date }}
                </p>
              </td>
              <td>{{ entry.amount }}</td>
              <td>{{ entry.description }}</td>
              <td>{{ personStore.persons() | personName: entry.personId }}</td>
              <td>
                @if (entry.id) {
                  <button class="btn btn-outline-danger btn-sm" (click)="remove(entry!.id)">
                    <span class="fas fa-x"></span>
                  </button>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p class="card-text">No Entries</p>
    }
  </div>
</div>
